//
//  Secrets.xcconfig
//  OurKids
//
//  Created by KIM Hyung Jun on 2023/08/16.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SEOUL_SQUARE_KEY = "64656b41626879753135524477466a"
GOOGLE_MAPS_KEY = "AIzaSyBvaYziO8q6xgba-lnU3s2QHDyNjunQpIQ"
